<mat-drawer-container class="example-container" autosize>

  <mat-toolbar *ngIf="showToolbarAndDrawer" class="custom-toolbar">
    <button type="button" mat-mini-fab (click)="toggleDrawer()" color="secondary" style="box-shadow: none;">
      <mat-icon>menu</mat-icon>
    </button>

    <button (click)="redirectToKeycloakLogin()">
      test
    </button>

    <span style="padding-left: 15px;"></span>
    <span class="example-spacer"></span>
    John Smith
    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button class="logout-button" style="height: 100%;width: 100%;" (click)="postLogout()"><mat-icon
          style="margin-right: 5px;">logout</mat-icon>Logout</button>
    </mat-menu>
  </mat-toolbar>


  <!-- <mat-drawer *ngIf="showToolbarAndDrawer" #drawer class="example-sidenav" mode="side" opened="true">
    <a routerLink="dashboard">
      <img src="https://auth.pivotel.com.au/pulsar4/assets/img/pulsar4-logo.png" class="sidenav-logo">
    </a>
    <div class="container-input-custom" style="padding:0px 10px 0px 10px;">
      <input type="text" class="input-field" placeholder="Account">
      <button class="enter-button" style="font-size:20px;"><i class="bi bi-arrow-right-circle-fill"></i></button>
    </div>
    <hr>
    <div class="sidenav-button-container">
      <button routerLink="dashboard" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">dashboard</mat-icon>
        Dashboard
      </button>
    </div>
    <div class="sidenav-button-container">
      <button routerLink="services" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">satellite</mat-icon>
        Services &amp; Devices
      </button>
    </div>
    <div class="sidenav-button-container">
      <button routerLink="templates" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">file_copy</mat-icon>
        Templates
      </button>
    </div>
    <div class="sidenav-button-container">
      <button routerLink="tags" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">collections_bookmark</mat-icon>
        Tags
      </button>
    </div>

    <hr>
    <h3 class="sidenav-text">Profiles</h3>

    <div class="sidenav-button-container">
      <button routerLink="alerting" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">add_alert</mat-icon>
        Alerting
      </button>
    </div>

    <div class="sidenav-button-container">
      <button routerLink="barring" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">lock</mat-icon>
        Barring
      </button>
    </div>

    <div class="sidenav-button-container">
      <button routerLink="firewall" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">security</mat-icon>
        Firewall
      </button>
    </div>

    <div class="sidenav-button-container">
      <button routerLink="domain" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">domain</mat-icon>
        Domain Filter
      </button>
    </div>

    <hr>
    <h3 class="sidenav-text">Account Management</h3>

    <div class="sidenav-button-container">
      <button routerLink="action-log" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">list</mat-icon>
        Action Log
      </button>
    </div>

    <div class="sidenav-button-container">
      <button routerLink="users" class="sidenav-button" routerLinkActive="active">
        <mat-icon class="sidenav-button-icon">supervisor_account</mat-icon>
        Users
      </button>
    </div>

    <div style="position: fixed;bottom: 0;padding-left:60px;padding-bottom: 40px;">

    </div>
  </mat-drawer> -->

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>