mat-card{
    padding:15px;
}


.custom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.custom-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px; /* Adjust the value as needed */
}


.custom-icon {
    font-size: 25px; /* Increase the size as needed */
    vertical-align: middle; /* Adjust alignment as needed */
    color: rgb(28, 184, 8);
}


.custom-text {
    margin-top: 12px; /* Adjust the spacing as needed */
    font-size: 20px;
    font-weight: 400;
}

.green-icon{
    color: rgb(28, 184, 8);
}

.red-icon{
    color: rgb(184, 8, 8);
}



