<mat-card style="text-align:center;">
    <h1 style="font-weight:500;font-size:30px;">Example Shipping Company</h1>
</mat-card>

<br>

<div class="row">
    <div class="col">
        <mat-card>
            <h2>Network Status</h2>
            <div class="custom-row">
                <div class="custom-col">
                    <mat-icon class="custom-icon">check_circle</mat-icon>
                    <span class="custom-text">Pivotel</span>
                </div>
                <div class="custom-col">
                    <mat-icon class="custom-icon">check_circle</mat-icon>
                    <span class="custom-text">Inmarsat</span>
                </div>
                <div class="custom-col">
                    <mat-icon class="custom-icon">check_circle</mat-icon>
                    <span class="custom-text">Iridium</span>
                </div>
                <div class="custom-col">
                    <mat-icon class="custom-icon">check_circle</mat-icon>
                    <span class="custom-text">Thuraya</span>
                </div>
            </div>
        </mat-card>
        
    </div>
    <div class="col">
        <mat-card>
            <h2>Devices</h2>
            <div class="custom-row">
                <div class="custom-col">
                    <mat-icon class="green-icon">network_wifi</mat-icon>
                    <span class="custom-text">23</span>
                </div>
                <div class="custom-col">
                    <mat-icon class="red-icon">signal_wifi_off</mat-icon>
                    <span class="custom-text">5</span>
                </div>
                <div class="custom-col">
                    <mat-icon class="green-icon">lock_open</mat-icon>
                    <span class="custom-text">7</span>
                </div>
                <div class="custom-col">
                    <mat-icon class="red-icon">lock</mat-icon>
                    <span class="custom-text">10</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<br>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-7">
        <div class="size"
            style="display: block;background-color: white;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;border-radius: 7px;padding:20px;max-height: 700px;">
            <h1>Network Activity</h1>
            <canvas baseChart height="210" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
                [legend]="lineChartLegend">
            </canvas>
        </div>
    </div>
    <div class="col-5">
        <div class="size"
            style="display: block;background-color: white;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;border-radius: 7px;padding:30px;max-height: 700px;">
            <h1>Network Usage</h1>
            <canvas baseChart height="50" [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>

        </div>
    </div>
</div>