<mat-card style="text-align:center;">
    <h1 style="font-weight:500;font-size:30px;">Example Shipping Company</h1>
</mat-card>

<br>
<div style="width:100%;">
    <div class="row">
        <div class="col">
            <div class="dashboard-card">
                <a href="https://www.pivotel.com.au/current-outages/" target="_blank" class="view-more">View More</a>
                <span class="material-icons icon">signal_cellular_alt</span>
                <div>
                    <div class="number">Pivotel</div>
                    <div class="label">Network Active</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-card">
                <a href="https://www.pivotel.com.au/current-outages/" target="_blank" class="view-more">View More</a>
                <span class="material-icons icon">signal_cellular_alt</span>
                <div>
                    <div class="number">Inmarsat</div>
                    <div class="label">Network Active</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-card">
                <a href="https://www.pivotel.com.au/current-outages/" target="_blank" class="view-more">View More</a>
                <span class="material-icons icon">signal_cellular_alt</span>
                <div>
                    <div class="number">Iridium</div>
                    <div class="label">Network Active</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-card">
                <a href="https://www.pivotel.com.au/current-outages/" target="_blank" class="view-more">View More</a>
                <span class="material-icons icon">signal_cellular_alt</span>
                <div>
                    <div class="number">Thuraya</div>
                    <div class="label">Network Active</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <br> -->
<!-- <mat-card>
    <h2>Network Status</h2>
    <div class="custom-row">
        <div class="custom-col">
            <mat-icon class="custom-icon">check_circle</mat-icon>
            <span class="custom-text">Pivotel</span>
        </div>
        <div class="custom-col">
            <mat-icon class="custom-icon">check_circle</mat-icon>
            <span class="custom-text">Inmarsat</span>
        </div>
        <div class="custom-col">
            <mat-icon class="custom-icon">check_circle</mat-icon>
            <span class="custom-text">Iridium</span>
        </div>
        <div class="custom-col">
            <mat-icon class="custom-icon">check_circle</mat-icon>
            <span class="custom-text">Thuraya</span>
        </div>
    </div>
</mat-card> -->

<br>
<!-- <mat-card>
    <h2>Devices</h2>
    <div class="custom-row">
        <div class="custom-col">
            <mat-icon class="green-icon">network_wifi</mat-icon>
            <span class="custom-text">23</span>
        </div>
        <div class="custom-col">
            <mat-icon class="red-icon">signal_wifi_off</mat-icon>
            <span class="custom-text">5</span>
        </div>
        <div class="custom-col">
            <mat-icon class="green-icon">lock_open</mat-icon>
            <span class="custom-text">7</span>
        </div>
        <div class="custom-col">
            <mat-icon class="red-icon">lock</mat-icon>
            <span class="custom-text">10</span>
        </div>
    </div>
</mat-card> -->
<div class="card">
    <div class="card-body">

        <a routerLink="/service" class="btn btn-sm btn-primary float-right"
            style="background-color: #0067B4;float: right;"> View All</a>
        <h5 class="card-title mb-4" style="font-size:20px;font-weight:450;">Devices</h5>

        <div class="row">
            <div class="col text-center">
                <span class="text-success d-block mb-1 display-3"><i class="bi bi-wifi"></i></span>
                <span class="h2">3</span>
            </div>
            <div class="col text-center">
                <span class="text-danger d-block mb-1 display-3"><i class="bi bi-wifi-off"></i></span>
                <span class="h2">576</span>
            </div>
            <div class="col text-center">
                <span class="text-success d-block mb-1 display-3"><i class="bi bi-lock-fill"></i></span>
                <span class="h2">578</span>
            </div>
            <div class="col text-center">
                <span class="text-danger d-block mb-1 display-3"><i class="bi bi-unlock-fill"></i></span>
                <span class="h2">1</span>
            </div>
        </div>

    </div>
</div>

<br>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-7">
        <div class="size"
            style="display: block;background-color: white;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;border-radius: 7px;padding:20px;max-height: 700px;">
            <h1>Network Activity</h1>
            <canvas baseChart height="210" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
                [legend]="lineChartLegend">
            </canvas>
        </div>
    </div>
    <div class="col-5">
        <div class="size"
            style="display: block;background-color: white;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;border-radius: 7px;padding:30px;max-height: 700px;">
            <h1>Network Usage</h1>
            <canvas baseChart height="50" [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>

        </div>
    </div>
</div>